version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
%%IF_DOCKER%%
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
%%END_IF_DOCKER%%
